
/* Start Variables */
:root{
    --main-color:#1998FF;
    --bg-color: #333333;
    --footer-color:#2B2B2B;
    --text-color:#545454;
    --text-color-alt:#b4b3b3;
    --section-color:#eeeeee;
    --main-raduis : 5px;
    --m : linear-gradient(to right, #bc6eff 20%, #65e2ff);
}
/* End Variables */
/* Start Global Rules  */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
body{
   /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Open Sans Condensed', sans-serif;    */
        /* font-family: "Cairo", sans-serif; */
font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: block;
    color: #007bff;
}
ul {
  list-style: none;
}
img{
  width: 100%;
}
.container {
    width: 1100px;
    height: 700px;
    background-color: #fff;
    border: 2px solid #eee;
    padding: 30px;
    margin:20px auto;
    display: grid;
    grid-template: repeat(2 ,1fr)  repeat(2 ,5fr) / repeat(3 ,1fr);
    grid-template-areas: 
    "one  two three"
    "one  four three"
    "five  four three"
    "five  four six"
    ;
    gap: 20px;
}
.container .box{
  border-radius: var(--main-raduis);
}
.container .box-one{
  grid-area: one ;
}
.container .box-one .image img{
    /* position: absolute;
    top: 0;
    height: 50%;
    width: 100%; */
}
.container .box-one .info{
  background-color: #EDBF47;
   color: white;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: rgb(237, 191, 71);
}
.container .box-two{
  grid-area:two;
  padding: 20px;
    background-color: rgb(236,119,75);
}
.container .box-two p{
    position: relative;
    font-size: 19px;
    word-spacing: 1.4;
    word-wrap: break-word;
    text-align: center;
    margin: 25px;
}
.container .box-two p span{
    font-size: 12px;
    font-weight: 100;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}
.container .box-two p span::before{
    content: ",,";
    position: absolute;
    left: -45px;
    top: -85px;
    font-size: 95px;
    font-weight: bolder;
    color: rgba(85, 85, 85, .2);
}
.container .box-three{
  grid-area: three;
}
.container .box-four{
  grid-area:four;
}
.container .box-five{
  grid-area: five;
}
.container .box-six{
  grid-area: six;
}

/* MY FRAMEWORK  */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}